.movie-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 30px;
    margin-left: 130px;
}
.movie-card img {
    height: 300px;
}
.movie-page {
    margin: 5px;
}
.container {
    /* width: 100%; */
}
.movie-page h4 {
   margin-top: 200px;
}
.movie-card {
    /* position: relative; */
    border-radius: 5px;
    border: 0;
}
.header h1 {
    text-align: center;
}
/* no movies */
.container .no-movies {
    text-align: center;
    margin-top: 25px;
    color: rgba(255, 0, 0, 0.986);
}

.movie-card  {
    position: relative;
}
main {
    position: absolute;
    left: 75px;
    bottom: 20px;

    
}
main .ctrl-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
main .ctrl-btn:first-child {
    margin-right: 10px;
   
}
.eye, .x {
    width: 20px;
    height: 20px;
}
.x {
    color: red;
}

/* input-wrapper */
.input-wrapper input {
    width: 270px;
    height: 27px;
    border-radius: 15px;
    border: none;
    background-color: rgba(128, 128, 128, 0.158);
   padding: 10px;
}
.input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.input-wrapper input:focus {
    outline: none;
    border-bottom: 2px solid rgb(0, 183, 255);
    
   
}
.input-wrapper ::placeholder {
    text-align: center;
}